APP_NAME=Data Hunter API
APP_ENV=dev
API_PREFIX=/api/v1
MONGO_URI=mongodb://admin:123456@192.168.110.107:27017/?authSource=admin
MONGO_DB=testdb
PG_HOST=192.168.110.107
PG_USER=postgres
PG_PASS=123456
PG_PORT=5432
PG_DB=hunter
CRAWLER_SOURCE_URL=https://jsonplaceholder.typicode.com/posts
CRAWLER_TIMEOUT=30
CRAWLER_BATCH_SIZE=100
SCHEDULER_ENABLED=true
SCHEDULER_CRON=0 */2 * * *
PG_SCHEMA=public
PG_TABLE=seller_sprite_items
