# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/

# Node
node_modules/
dist/

# Env
.env

# IDE
.idea/
.vscode/

# Logs
*.log

backend/scripts/seller_sprite/ara*
*.csv
backend/scripts/
tmp_exports/